@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* setting rem units to be more readable - 1.6rem = 16px */
}

body {
    font-family: Rubik, sans-serif;
    font-size: 1.6rem; /* 16px */
    line-height: 2.4rem;
    color: hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 95%);
}
/* ============== standard tag styles ==================*/

h3 {
    line-height: 2.4rem;
    margin-bottom: 1.6rem;
}

ul {
    list-style: none;
}

code {
    color: hsl(5, 75%, 35%);
}

code span {
    color: hsl(5, 0%, 60%);
}
/* ============== reusable classes ==================*/


.section {
    padding: 4rem 0; 
}

.light {
    background-color: hsl(0, 0%, 100%);
}

.dark {
    background-color: hsl(0, 0%, 88%);
}

.container {
    width: clamp(16rem, 90vw, 144rem);
    margin-inline: auto;
    padding: 7.2rem 0;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    text-align: center;
    padding-inline: 10%;
    box-shadow: .1rem .2rem .3rem .2rem hsla(0, 0%, 25%, .15);
}

.container-1 {
    width: min(100%, 95rem); /*min 95% max 95rem=950px after conversion */
    margin-inline: auto; /* margin on left and right  */
    border: 0.3rem solid red;
    padding: 3.2rem; /* padding 3.2rem=32px after conversion */
}

.container-2 {
    /*clamp(min, val, max) => min-with 32rem = 320px, val = 90% of viewport width, max-width= 144rem=1440px */
    width: clamp(32rem, 90vw, 144rem); 
    margin-inline: auto; /* margin on left and right  */
    border: 0.3rem solid green;
    padding: 3.2rem; /* padding 3.2rem=32px after conversion */
    margin: 3.2rem 0;
}

.text-indent {
    text-indent: 3.2rem;
}

.code-container {
    position: relative;
    padding: 3.2rem;
    background-color: hsl(0, 0%, 95%);
}

.first-section {
    margin-top: 17rem;
}
/* ============== structure tag styles ==================*/

/* ============== Header mobile first styles ==================*/

header {
    position: fixed;
    background-color: hsl(0, 0%, 95%);
}

header a {
    text-decoration: none;
    color: hsl(0, 0%, 35%);
}

header nav {
    position: absolute;
    top: 100%;
    right: 4%;
    width: 90vw;
    background-color: hsl(0, 0%, 95%);
    border-radius: 0 0 .6rem .6rem;
    padding: 2.4rem 0;
    box-shadow: .1rem .2rem .3rem .2rem hsla(0, 0%, 25%, .15);
    clip-path: inset(0px -.5rem -.5rem -.5rem);
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    width: 100%;
    margin-bottom: 1.6rem;
}

header nav ul li a {
    display: block;
    width: 100%;
    color: hsl(0, 0%, 35%);
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.6rem 3.6rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

header nav ul li a:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 35%);
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~  nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~  nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 350ms;
}
 
.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: .40rem;
    padding: .8rem 1.4rem;
    transition: all 150ms ease-in-out;
    margin: 6rem; 
}

.nav-toggle-label:hover {
    cursor: pointer;
    color: hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 35%);
}

/* ================ Header styles for desktop =======================*/

@media screen and (min-width: 78rem) {

    header .nav-toggle-label {
        display: none;
    }

    header .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
    }

    header .flex-desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2.4rem;
        height: 5.8rem;
    }

    header nav {
        all: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2.4rem;
        padding-top: 1.6rem;

    }

    header nav ul li a {
        opacity: 1;
        font-weight: 500;
        text-decoration: none;
        color: hsl(0, 0%, 35%);
        text-transform: uppercase;
        border: 1px solid hsl(0, 0%, 75%);
        border-radius: .40rem;
        padding: .8rem 1.4rem;
        transition: all 150ms ease-in-out;
    }

    header ul li a:hover, a.active {
        cursor: pointer;
        color: hsl(0, 0%, 95%);
        background-color: hsl(0, 0%, 35%);
    }

    header nav ul li a.burger-menu {
        /* hide burger-menu until needed */
        display: none;
    }

}

/* ============== Section text columns styles ==================*/

.text-scale-hdln {
    font-size: clamp(2.4rem, -2.82rem + 5.6vw, 3.8rem );
    line-height: 3.2rem;
    margin: 1.6rem 0 .8rem 0;
}

.text-columns {
    column-count: 1;
}
    @media screen and (min-width: 56rem) {
        .text-columns {
            column-count: 2;
            column-gap: 8rem;
        }
    }

    @media screen and (min-width:88rem) {
        .text-columns {
            column-count: 3;
            column-gap: 8rem;
        }
    }


    /* ============== Section Flexbox styles ==================*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5.6rem;
    padding: 4.8rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    padding: 2.4rem;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 2.4rem;

}

.responsive-img {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 40rem;
}

.card-title {
    margin: 2.4rem 0 -0.8rem 0 !important;
}

.card-content {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    height: 12rem;
    margin-bottom: 2.4rem;
}

.card-footer {
    position: relative;
    clear: both;
    top: 2.4rem;
    left: -2.4rem;
    width: 114%;
    background-color: hsl(0, 0%, 75%);
    padding: 2.4rem;
    border-radius: 0 0 2.4rem 2.4rem;
}

.card-footer-icon {
    float: right;
}